<div ng-controller="ProgramInitiativesItems" class="form-section">
    <span class="panel-section-item">
        <span class="panel-section-title" @*ng-click="toggle($event)"*@>Program Initiatives</span>
        <span class="panel-section-buttons">
            <span><button class="btn btn--empty" style="pointer-events: none;" tabindex="-1">&nbsp;</button></span>
            <section-edit-buttons ng-model="section.editing"></section-edit-buttons>
            @*<span class="small" ng-class="section.show ? 'up-arrow': 'down-arrow'" ng-click="toggle($event)"></span>*@
        </span>
    </span>

    <div class="panel-section-content" ng-if="section.show">
        <div ng-show="model.Initiatives.length == 0" class="form-section-container font-weight-bold">There are no initiatives to display.</div>
        <div class="form-section-container evaluation-questions">
            <div ng-repeat="initiative in model.Initiatives | orderBy: RowSequence">
                <hr ng-show="!$first" />
                <div class="form__group">
                    <div class="control-wrapper form-control">
                        <input type="text"
                               class="input--medium"
                               style="margin-right: 2em"
                               placeholder="Intiative Name"
                               ng-model="initiative.Name"
                               ng-validation="errors.Initiatives_{{$index}}_.Name"
                               ng-show="section.editing"/>
                        <span ng-bind-html="initiative.Name" ng-show="!section.editing"></span>
                        <input type="text"
                               class="input--small"
                               placeholder="Intiative Code"
                               style="margin-right: 2em"
                               ng-model="initiative.Code"
                               ng-validation="errors.Initiatives_{{$index}}_.Code"
                               ng-show="section.editing"/>
                        <span ng-show="!section.editing">
                            [<span ng-bind-html="initiative.Code" ng-show="!section.editing"></span>]
                        </span>

                        <div ng-show="section.editing" style="display: inline-block">
                            <span>
                                <span ng-show="!initiative.IsInUse || initiative.Id === 0" ng-click="removeItem(initiative)" style="cursor: pointer;">Remove Item</span>
                                <span ng-show="initiative.IsInUse && initiative.Id > 0">In Use</span>
                            </span>
                            <span style="margin-left: 2em">
                                Move Item
                                <span class="small up-arrow" ng-if="!$first" ng-click="moveInitiative(initiative, 1)"></span>
                                <span class="small down-arrow" ng-if="!$last" ng-click="moveInitiative(initiative, 0)"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="panel-section-buttons">
            <span style="margin: 0 0 0 20px;" ng-show="section.editing">
                <button class="btn btn--primary btn--forward" ng-click="createInitiative()">Add New Initiative</button>
            </span>
        </span>
    </div>
</div>