@{
    ViewBag.Title = "Program Initiatives Management";
}
<div ng-controller="ProgramInitiativesManagement">
    <div class="row row--alert" ng-if="alert.message">
        <div class="alert alert--default" ng-class="'alert--' + alert.type" role="alert" ng-bind-html="alert.message">
        </div>
    </div>
    <div class="form-section">
        <div>
            <h2 class="header__title">Program Initiative Management</h2>
        </div>
    </div>

    <div class="details-block">
        <ul class="panel-section-list">
            <li>@Html.Partial("~/Areas/Int/Views/ProgramInitiatives/_Initiatives.cshtml")</li>
        </ul>
    </div>
</div>
