<div ng-controller="DirectorBudgetDashboard" ng-fiscal-year-id="@ViewBag.FiscalYearId">
    <div ng-if="model.ShowDirectorDashboard">
        <div class="table--intake-management-dashboard">

            <div class="pull-right">
                <button class="btn btn--primary btn--forward" ng-if="model.CanUpdateBudget" ng-click="export()">Export to Excel</button>
                <button class="btn btn--primary btn--forward" ng-if="model.CanUpdateBudget" ng-click="save()">Save</button>
            </div>
            <div class="form__group-set">
                <div class="form__group" style="margin-top: 0;">
                    <label class="form__label">Fiscal Year</label>
                    <div class="form__control">
                        <div class="selectmenu">
                            <select class="form-control" ng-model="section.fiscalYearId" ng-options="item.Id as item.Caption for item in fiscalYears" ng-change="onFiscalYearChange()"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        
        <div style="margin-bottom: 2em;">
            <h2>CWRG Director Report
                <span style="display: inline-block; margin-left: 3em; font-size: 0.7em; font-weight: normal;">
                    <span style="display: inline-block; padding: 0 1em;">{{ model.FiscalYear }}</span>
                </span>
            </h2>
            <div class="table--horizontal-wrapper budget-overview-container">
                <table class="table--horizontal table--datatable-horizontal table--intake-management-dashboard table--director-budget">
                    <thead>
                    <tr>
                        <th>{{ model.AgreementYearRange }} Agreements</th>
                        <th class="stream-groups" ng-repeat="item in model.DirectorsReport">{{ item.GroupingName }}<span><br/>{{ item.GroupingStreams }}</span></th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="lead-row lead-cell">
                        <th>Opening Budget</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">
                            <input type="text" ng-model="item.Budget" ng-editing="model.CanUpdateBudget && item.DirectorBudgetId > 0" ng-currency ng-change="recalculateBudget()"/>
                        </td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'Budget') | currencyParentheses : "$" : 2  }}</td>
                    </tr>
                    <tr ng-repeat="budgetRow in model.OpeningBudgetRows">
                        <th>
                            <input type="text" class="input--medium" ng-model="budgetRow.Name" ng-editing="model.CanUpdateBudget" placeholder="Name" />
                        </th>
                        <td class="budget-info" ng-repeat="item in budgetRow.DirectorBudgetEntries">
                            <input type="text" ng-model="item.Budget" ng-editing="model.CanUpdateBudget" ng-currency placeholder="$0.00" ng-change="recalculateBudget()"/>
                        </td>
                        <td class="budget-info">@*{{ sumRow(budgetRow.DirectorBudgetEntries, 'Budget') | currencyParentheses : "$" : 2  }}*@</td>
                    </tr>
                    <tr class="lead-row lead-cell">
                        <th>Adjusted Budget</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportAdjustedBudget | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'DirectorsReportAdjustedBudget') | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    <tr class="lead-cell">
                        <th>Committed (Schedule A)</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportCommittedScheduleA | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">@*{{ sumRow(model.DirectorsReport, 'DirectorsReportCommittedScheduleA') | currencyParentheses : "$" : 2 }}*@</td>
                    </tr>
                    <tr>
                        <th>Claims Processed</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportClaimsProcessed | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">@*{{ sumRow(model.DirectorsReport, 'DirectorsReportClaimsProcessed') | currencyParentheses : "$" : 2 }}*@</td>
                    </tr>
                    <tr>
                        <th>Unclaimed <sup>1</sup></th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportUnclaimed | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">@*{{ sumRow(model.DirectorsReport, 'DirectorsReportUnclaimed') | currencyParentheses : "$" : 2 }}*@</td>
                    </tr>
                    <tr>
                        <th>Receivables (total set up in current FY)</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportReceivables | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">@*{{ sumRow(model.DirectorsReport, 'DirectorsReportReceivables') | currencyParentheses : "$" : 2 }}*@</td>
                    </tr>
                    <tr>
                        <th>Slippage <sup>2</sup></th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportSlippage | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">@*{{ sumRow(model.DirectorsReport, 'DirectorsReportSlippage') | currencyParentheses : "$" : 2 }}*@</td>
                    </tr>
                    <tr class="lead-row">
                        <th>YTD Actuals (Claims Processed - Receivables)</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportYtdActual | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'DirectorsReportYtdActual') | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    <tr class="lead-cell">
                        <th>Available Budget</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportAvailableBudget | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'DirectorsReportAvailableBudget') | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    <tr ng-repeat="budgetRow in model.ClosingBudgetRows">
                        <th>
                            <input type="text" class="input--medium" ng-model="budgetRow.Name" ng-editing="model.CanUpdateBudget" placeholder="Name" />
                        </th>
                        <td class="budget-info" ng-repeat="item in budgetRow.DirectorBudgetEntries">
                            <input type="text" ng-model="item.Budget" ng-editing="model.CanUpdateBudget" ng-currency placeholder="$0.00" ng-change="recalculateBudget()" />
                        </td>
                        <td class="budget-info">@*{{ sumRow(budgetRow.DirectorBudgetEntries, 'Budget') | currencyParentheses : "$" : 2  }}*@</td>
                    </tr>
                    <tr class="lead-row lead-cell">
                        <th>Total Remaining Budget</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportRemainingBudget | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'DirectorsReportRemainingBudget') | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    </tbody>
                </table>
                <p style="font-size: 0.9em; margin: 0.5em 0;">
                    <sup>1</sup> Unclaimed amount = Schedule A amount of all agreements <em>(minus)</em> the approved Claimed Amount (files in Completion Reporting status only) <em>(minus)</em> Slippage
                    <br/>
                    <sup>2</sup> Slippage = Schedule A of all agreements that have a submitted a claim <em>(minus)</em> the approved Claimed Amount (files in Completion Reporting status only)</p>
            </div>
        </div>

        <div style="margin-bottom: 2em;">
            <h2>
                CWRG Summary Report
                <span style="display: inline-block; margin-left: 3em; font-size: 0.7em; font-weight: normal;">
                    <span style="display: inline-block; padding: 0 1em;" ng-if="section.currentFiscalYearId == section.fiscalYearId">{{ toPST(model.ReportDay, 'dddd, MMMM Do, YYYY') }}</span>
                    <span style="display: inline-block; padding: 0 1em;">{{ model.FiscalYear }}</span>
                </span>
            </h2>
            <div class="table--horizontal-wrapper budget-overview-container">
                <table class="table--horizontal table--datatable-horizontal table--intake-management-dashboard table--director-budget">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="stream-groups" ng-repeat="item in model.DirectorsReport">{{ item.GroupingName }}<span><br/>{{ item.GroupingStreams }}</span></th>
                        <th>Total</th>
                        <th rowspan="2" style="width: 15%">Slippage Target Excluding CRS (Assuming 5% Slippage)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Budget</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.DirectorsReportAdjustedBudget | currencyParentheses : "$" : 2  }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'DirectorsReportAdjustedBudget') | currencyParentheses : "$" : 2  }}</td>
                        <td>{{ sumSlippage(model.DirectorsReport) | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    <tr>
                        <th># Applications Received</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.SummaryReportApplicationsReceived }}</td>
                        <td>{{ sumRow(model.DirectorsReport, 'SummaryReportApplicationsReceived') }}</td>
                    </tr>
                    <tr>
                        <th># Applications Approved</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.SummaryReportApplicationsApproved }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'SummaryReportApplicationsApproved') }}</td>
                    </tr>
                    <tr>
                        <th>Committed $ (Approved)</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.SummaryReportApprovedCommitmentAmount | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'SummaryReportApprovedCommitmentAmount') | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    <tr>
                        <th>All Applications pending Decision</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.SummaryReportApplicationsPendingDecision | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'SummaryReportApplicationsPendingDecision') | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    <tr>
                        <th>Returned to Draft, Withdrawn, Denied Cancelled, Rejected Applications/Agreements</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.SummaryReportCancelledApplicationsTotal | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'SummaryReportCancelledApplicationsTotal') | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    <tr>
                        <th>Total Applications Received ($)</th>
                        <td class="budget-info" ng-repeat="item in model.DirectorsReport">{{ item.SummaryReportApplicationsReceivedTotal | currencyParentheses : "$" : 2 }}</td>
                        <td class="budget-info">{{ sumRow(model.DirectorsReport, 'SummaryReportApplicationsReceivedTotal') | currencyParentheses : "$" : 2 }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    <hr/><hr/>    

    @*@Html.Partial("_DirectorDashboardForecastAndFinanceReport")*@
    </div>
</div>

