@{
    ViewBag.Title = "Exit Forms Complete";
}

<div id="participant-info-maxparticipant" class="side-padding">
    <div class="row">
        <div class="main">
            <h1 class="text-transform-none">Exit Form: Maximum Limit Reached</h1>

            <div>
                <p>All Exit Forms are complete for the application. Please contact your application administrator.</p>

                <p>Thank you.</p>

                <p>Skills Training Grants</p>
            </div>
        </div>
    </div>
</div>
