@{
    ViewBag.Title = "Participant Exit Form";
}

<div id="participant-info-collection">
    <div class="row">
        <div class="main">
            <h1>Participant Exit Form</h1>
            <div>
                <p>Thank you, your form has been submitted. If you would like to provide any additional comments, please email <a href="mailto: CWRG@gov.bc.ca">CWRG@gov.bc.ca</a>.</p>
            </div>
        </div>
    </div>
</div>
